# nvim/lua/res/plugins/dracula.lua
# nvim/lua/res/plugins/ascii.lua
# .config/nvim/lua/res/plugins/dracula
# .config/nvim/lua/res/plugins/nord
# .config/nvim/lua/res/plugins/tokio-night.lua
.DS_Store
